
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Product</h2>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Product Name" aria-label="CreditCard Number" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Product Price" aria-label="Product Price" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Product Description" aria-label="Product Description" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="basic-addon2">
</div>
<div class="input-group">
    <button class="btn btn-outline-secondary" type="button">Add Product</button>
</div>

