@model IEnumerable<PoolandPatioCenter.Models.Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div>
        <div class="col-sm-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Go</button> <!--Cannot get button to append-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"></span> Categories </a>
            <ul class="dropdown-menu">
                <li><a href="#">Pool Chemicals</a></li>
                <li><a href="#">Grills</a></li>
                <li><a href="#">Spas</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Patio</a></li>
                <li><a href="#">Furniture</a></li>
            </ul>
        </div>
    </div>
</div>

<br />

<h2>Products</h2>
@if (!Model.Any())
{
    <p>We don't have any products yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Product Name</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.ActionLink(product.Name, "Details", "Customers", new { id = product.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}

