
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Items In Cart</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ITEMS</td>
            <td>PRICES</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>TOTAL</td>
            <td>SUM</td>
        </tr>
    </tfoot>
</table>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="CreditCard Number" aria-label="CreditCard Number" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Expiration Date" aria-label="Expiration Date" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="CCV" aria-label="CCV" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Validate</button>
    </div>
</div>


