
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Items In Cart</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ITEMS</td>
        <td>PRICES</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>TOTAL</td>
        <td>SUM</td>
    </tr>
    </tfoot>
</table>

