@{
    ViewBag.Title = "About";
}

<h1 style="text-align:center; margin-top:50px; margin-bottom:100px;">TUSCALOOSA'S ORIGINAL POOL STORE</h1>
<h2 class="subheader_h2">
    <span class="resp-text subheader_span" >HISTORY</span>
</h2>
<div class="row" style="margin-top:50px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <img src="http://www.poolpatiocenter.com/images/demo/history5.jpg"  class="img-circle resp-img"/>
    </div>
    <div class="col-sm-4 resp-text">
         <p> Faye Hubbard, a Tuscaloosa native and mother of three, started the Pool & Patio Center from her home in 1972 - over 45 years ago!</p>
    </div>
        <div class="col-sm-2"></div>
    </div>
<div class="row" style="margin-top:150px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 resp-text">
        <p> Faye's daughter, Tonia, married Randy Simpson and together they kept the business family-owned and operated when they took over in 1992</p>
    </div>
    <div class="col-sm-4">
        <img src="http://www.poolpatiocenter.com/images/demo/history6.jpg" class="img-circle resp-img" />
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row" style="margin-top:150px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <img src="http://www.poolpatiocenter.com/images/demo/tonia1.jpg" class="img-circle resp-img" />
    </div>
    <div class="col-sm-4 resp-text">
        <p> Randy and Tonia are here day in and day out to help you in any way they can. Stop in and meet them or reach them directly at poolpatio@aol.com</p>
    </div>
    <div class="col-sm-2"></div>
</div>

