@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1402 Veterans Memeorial Pkwy<br />
    Tuscaloosa, AL 35404<br />
    <abbr title="Phone">P:</abbr>
    (205) 553-2551
</address>

<address>
    <strong>Tonia's Email:</strong>   <a href="mailto:poolpatio@aol.com">poolpatio@aol.com</a><br />
    <strong>Joshua's Email:</strong> <a href="mailto:poolpatiocenter@yahoo.com">poolpatiocenter@yahoo.com</a>
</address>